.left.side-menu
    .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 719px;')
        .sidebar-inner.slimscrollleft(style='overflow: hidden; width: auto; height: 719px;')
            // - Divider
            #sidebar-menu
                ul
                    li.text-muted.menu-title Статистика
                    li
                        a.waves-effect(href='/site/dashboard')
                            i.ti-home
                            span  Сводка
                    li
                        a.waves-effect(href='/site/balance')
                            i.ti-money
                            span  Баланс
                    li
                        a.waves-effect(href='/site/hardware')
                            i.ti-harddrives
                            span  Компьютеры
                    li.text-muted.menu-title Выплаты
                    li
                        a.waves-effect(href='/billing/payouts')
                            i.ti-receipt
                            span История выплат
                    li
                        a.waves-effect(href='/billing/payouts/request/rub')
                            i.ti-credit-card
                            span Запросить выплату
                    li.text-muted.menu-title Поддержка
                    li
                        a.waves-effect(href='/ru/support/faq')
                            i.ti-help-alt
                            span Вопросы и ответы
                    li
                        a.waves-effect(href='/ru/support/support')
                            i.ti-headphone-alt
                            span  Задать вопрос
                    li.text-muted.menu-title Прочее
                    li
                        a.waves-effect(href='/referral/')
                            i.ti-gift
                            span  Деньги за друзей
                    li
                        a.waves-effect(href='/news/')
                            i.ti-announcement
                            span  Новости
                    li
                        a.waves-effect(href='/site/profile')
                            i.ti-user
                            span  Профиль
                    li
                        a.waves-effect(href='/download?source=menu')
                            i.fa.fa-windows
                            span  Скачать Криптекс
                .clearfix
            .clearfix
        .slimScrollBar(style='background: rgb(152, 166, 173); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 694.84px; visibility: visible;')
        .slimScrollRail(style='width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;')
