
.right-side-chat__user(data-toggle="tooltip" title="belen torres" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/3.jpg').right-side-chat__userpic
	.unread-count 1
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="jennie taylor" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/88.jpg').right-side-chat__userpic
	.unread-count 8
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="roberto diez" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/61.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="nicolay hotvedt" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/85.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="delilah de gooijer" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/25.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="lucas pedersen" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/7.jpg').right-side-chat__userpic
	.unread-count 4
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="fatih ertürk" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/65.jpg').right-side-chat__userpic
	.unread-count 11
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="aubri fogaça" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/17.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="milia falch" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/16.jpg').right-side-chat__userpic
	.unread-count 2
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="alexis bergeron" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/15.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="miro tuomi" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/23.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="necati çağıran" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/6.jpg').right-side-chat__userpic
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="toby morris" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/67.jpg').right-side-chat__userpic
	.unread-count 6
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="austin mccoy" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/57.jpg').right-side-chat__userpic
	.unread-count 7
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="gilbert curtis" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/35.jpg').right-side-chat__userpic
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="ailo devik" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/35.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="رادین حسینی" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/18.jpg').right-side-chat__userpic
	.unread-count 11
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="agron durand" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/49.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="alexandra chen" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/7.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="philip møller" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/45.jpg').right-side-chat__userpic
	.unread-count 7
	.status-icon.offline