aside
    button(type="button").btn.no-outline.text-light.waves-effect.waves-light.right-element#right_chat_btn
                i.far.fa-comment-alt
    div.right-side-chat#right-side-chat
        .right-side-chat__wrap
            include _right_sidebar_users