
.right-side-chat__user(data-toggle="tooltip" title="jacob rasmussen" data-placement="left" data-user-id="user_1")
	img(src='https://randomuser.me/api/portraits/men/63.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="thomas harcourt" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/5.jpg').right-side-chat__userpic
	.unread-count 1
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="eve marie" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/42.jpg').right-side-chat__userpic
	.unread-count 13
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="daniel haataja" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/25.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="amelia sanders" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/92.jpg').right-side-chat__userpic
	.unread-count 9
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="nicolas aguilar" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/24.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="آیلین زارعی" data-placement="left" data-user-id="user_7")
	img(src='https://randomuser.me/api/portraits/women/56.jpg').right-side-chat__userpic
	.unread-count 5
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="coşkun körmükçü" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/79.jpg').right-side-chat__userpic
	.unread-count 8
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="vílson aragão" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/21.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="byron martinez" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/7.jpg').right-side-chat__userpic
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="nurdan erez" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/11.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="benjamin jørgensen" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/67.jpg').right-side-chat__userpic
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="alexander french" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/85.jpg').right-side-chat__userpic
	.unread-count 13
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="randolf timm" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/83.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="frank garcia" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/34.jpg').right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="norbert buchholz" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/2.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="colleen perry" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/66.jpg').right-side-chat__userpic
	.unread-count 5
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="taylor lawson" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/26.jpg').right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="marian murray" data-placement="left")
	img(src='https://randomuser.me/api/portraits/women/54.jpg').right-side-chat__userpic
	.unread-count 3
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="elmer lima" data-placement="left")
	img(src='https://randomuser.me/api/portraits/men/13.jpg').right-side-chat__userpic
	.unread-count 13
	.status-icon.do-not-disturb