header
    .navbar.navbar-dark.bg-dark-m.shadow-sm
        .container-fluid.topbar-flex#topbar
                div.counter
                    div.counter_label
                        | Общее число посетителей сайта
                    include _countdown
                form.form-inline(_lpchecked='1')
                    input.form-control.navbar__search(type='text' placeholder='Найти на сайте')
                .infostatususers
                    .usersonlain
                        i.usersico__dot.usersico__dot__online
                        | Пользователей онлайн:
                        span.kolichonlaininteger
                            a(href='https://vikings.life/useronline')
                                strong 1325
                    .lastzakaztime
                        i.usersico__dot.usersico__dot__ordercount
                        | Последний заказ:
                        span.timemunutlast 1 минуту назад
                .topbar__buttons
                    button.btn.btn-primary
                        span Просмотр объявлений
                    button.btn.btn-warning
                        span Создать объявление
                
                .topbar__right__buttons
                    button(type="button").btn.no-outline.text-light.waves-effect.waves-light#add_to_fav
                        i.icon-favorite_outline_24px
                    button(type="button").btn.no-outline.text-light.waves-effect.waves-light
                        //i.fas.fa-shopping-cart
                        i.material-icons-new.outline-shopping_cart.icon-white

                    div.dropdown.hidden-xs.open
                        button.btn.no-outline.text-light.waves-effect.waves-light(data-toggle='dropdown' aria-expanded='true')
                            i.icon-language-solid
                        ul.dropdown-menu.dropdown-menu__right.dropdown-menu__undark
                            li
                                a(href='/rus')
                                    i.flag-icon.flag-icon-ru
                                    |  Русский
                            li.divider
                            li
                                a(href='/english')
                                    i.flag-icon.flag-icon-us
                                    |  English US

                    div.dropdown.hidden-xs.open
                        button.btn.no-outline.text-light.waves-effect.waves-light(data-toggle='dropdown' aria-expanded='true')
                            i.icon-settings-cog
                        div.dropdown-menu.dropdown-menu__right.dropdown-menu__undark
                            li
                                a(href='/site/profile')
                                    i.far.fa-user
                                    |  Профиль
                            li.divider
                            li
                                a(href='/logout')
                                    i.fas.fa-power-off.text-danger
                                    |  Выход

                
                
