@font-face {
    font-family: "icons";
    src: url("./icons.eot?bc5b324f95e10bf1705683604a8041b3?#iefix") format("embedded-opentype"),
url("./icons.woff2?bc5b324f95e10bf1705683604a8041b3") format("woff2"),
url("./icons.woff?bc5b324f95e10bf1705683604a8041b3") format("woff"),
url("./icons.ttf?bc5b324f95e10bf1705683604a8041b3") format("truetype"),
url("./icons.svg?bc5b324f95e10bf1705683604a8041b3#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-favorite_24px:before {
    content: "\f101";
}
.icon-favorite_border_24px:before {
    content: "\f102";
}
.icon-favorite_outline_24px:before {
    content: "\f103";
}
.icon-icons:before {
    content: "\f104";
}
.icon-language-solid:before {
    content: "\f105";
}
.icon-Premium:before {
    content: "\f106";
}
.icon-settings-cog:before {
    content: "\f107";
}
.icon-star_bordered:before {
    content: "\f108";
}
.icon-star_half:before {
    content: "\f109";
}
.icon-star_outline:before {
    content: "\f10a";
}
.icon-star:before {
    content: "\f10b";
}
