doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Викинги - информационный портал.
body.load
    
    include pug_includes/_topbar
    
    .wrapper
        include pug_includes/_sidebar
        .content-body#content-body
            main
                .scroll-content.flex-grow-1.flex-shrink-0
                    .pb-4
                        include pug_includes/_slideshow
                        include pug_includes/_magazine_page
                footer.flex-grow-0.flex-shrink-0
                    nav.footer-nav
                        .footer-link
                            a Связаться с нами
                        .footer-link
                            a Сообщить о ошибке
                        .footer-link
                            a Лицензионное соглашение
                        .footer-link
                            a Улучшение сайта

        include pug_includes/_right-sidebar
    //-#background
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    //-link(rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css")