@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

@include for-phone-only(){
    .content-body>header{
        display: none;
    }
    #left_bar{
        width: 100% !important;
        
        .topbar-left{
            width: 100%;
        }
        @include collapsed{
            width: 100%;
            .topbar-left{
                width: 100%
            }
            .logo__sitename{
                width: auto;
                opacity: 1;
            }
        }
    }
    .right-side-chat__wrapper{
        display: none;
    }
}