$lato-font-path: "../fonts/lato";
// @font-face {
//   font-family: 'eq';
//   src: url('../fonts/eq.eot');
//   src: url('../fonts/eq.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/eq.woff') format('woff'),
//        url('../fonts/eq.ttf') format('truetype'),
//        url('../fonts/eq.svg#eq') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
.eq:before{
display: inline-block;
 font-family: 'eq';
 font-style: normal;
 font-weight: normal;
 line-height: 1.5;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
.eq-setting:before{content:'\0041';}
.eq-heart:before{content:'\0042';}


/*!
*  Material Design Iconic Font 1.0.1 by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
*  License - https://github.com/zavoloklom/material-design-iconic-font/blob/gh-pages/License.md (Attribution-ShareAlike 4.0 International license)
*/

@font-face {
  font-family: 'Material Design Iconic Font';
  src: url('../fonts/Material-Design-Iconic-Font.eot');
  src: url('../fonts/Material-Design-Iconic-Font.eot') format("embedded-opentype"), url('../fonts/Material-Design-Iconic-Font.woff') format("woff"), url('../fonts/Material-Design-Iconic-Font.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.eot');
  src: url('../fonts/Simple-Line-Icons.eot') format("embedded-opentype"), url('../fonts/Simple-Line-Icons.ttf') format("truetype"), url('../fonts/Simple-Line-Icons.woff2') format("woff2"), url('../fonts/Simple-Line-Icons.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/Lato-Light.eot');
  src: local('Lato Light'),
       local('Lato-Light'),
       url('#{$lato-font-path}/Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('#{$lato-font-path}/Lato-Light.woff2') format('woff2'),
       url('#{$lato-font-path}/Lato-Light.woff') format('woff'),
       url('#{$lato-font-path}/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/Lato-Regular.eot');
  src: local('Lato Regular'),
       local('Lato-Regular'),
       url('#{$lato-font-path}/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$lato-font-path}/Lato-Regular.woff2') format('woff2'),
       url('#{$lato-font-path}/Lato-Regular.woff') format('woff'),
       url('#{$lato-font-path}/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}