$magazine_element-color: #2e323e;

.magazine__cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;

    @media (max-width: 960px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .card {
        border-radius: 4px;
        background-color: $magazine_element-color;
        color: #ffffff;
        padding: 0 !important;
        border: none;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        cursor: pointer;

        &.premium {
            @include background-image(linear-gradient(bottom, #a1812e 0%, #cfad56 53.76%, #f4de8b 100%));
            color: #3d2a15 !important;

            .pseudo-premmium {
                position: absolute;
                top: -20px;
                left: calc(50% - 20px);
                width: 40px;
                height: 40px;
            }

            .icon-premium {
                position: absolute;
                
                left: 50%;
                margin-left: -45px;
                width: 90px;
                height: 90px;
                font-family: icons !important;
                font-style: normal;
                font-weight: normal !important;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                top: -70px;
                @include transition(top 0.2s ease-in-out);
                @include animation-name(icon-premium-shadow-out);
                @include animation-duration(0.2s);
                @include animation-fill-mode(forwards);
                @include keyframes(icon-premium-shadow-out) {
                    from {
                        top: -70px;
                        @include filter(drop-shadow(0 2px 2px #333333));
                        
                    }

                    to {
                        top: -65px;
                        @include filter(drop-shadow(0 0 0 #333333));
                    }
                }
            }

            .star,
            .orange {
                color: #8F1D0F !important;
            }

            .status-icon {
                box-shadow: 1px 1px 2px #3f3f3f7d;
            }

            .card-footer {
                font-weight: 400;
            }
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

            .icon-premium {
                @include filter(drop-shadow(0 2px 2px #333333));
                @include animation-name(icon-premium-shadow);
                @include animation-duration(0.2s);
                @include animation-fill-mode(forwards);
                
                @include keyframes(icon-premium-shadow) {
                    from {
                        @include filter(drop-shadow(0 0 0 #333333));
                        top: -65px;
                    }

                    to {
                        @include filter(drop-shadow(0 2px 2px #333333));
                        top: -70px;
                    }
                }
            }


        }

        .card-body {
            position: relative;
            display: flex;
            flex-direction: column;
            .card-text{
                flex-grow: 1;
                .card-text__power{
                    font-size: 0.9em;
                }
            }
        }
        
        .card-footer {
            width: 100%;
            font-family: 'Lato';
            font-size: 12px;
            font-weight: 300;
            padding-left: 0;
            padding-right: 0;
            background: none;
            border-top: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            padding-bottom: 0;
            &:before {
                border: none;
            }

            .card-footer__nickname {
                flex-grow: 1;
                flex-shrink: 1;
                display: flex;
                align-items: center;

                .status-icon {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 1em;
                }
            }

            .card-footer__right {
                flex-shrink: 0;
                height: 26px;
                vertical-align: middle
            }
        }
    }

    .star {
        color: orange;
        height: 26px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        &:before {
            font-size: 2em;
        }
    }

    .orange {
        color: orange;
        margin-right: 0.5em;
    }
}

.magazine__filter {
    background-color: $magazine_element-color;
    color: #ffffff;
    padding: 5px;
    border-radius: 2px;
}

.magazine__filterblock {
    >* {
        margin: 3px 0;
    }

    border-bottom: 1px solid darken(white, 5%);
    font-size: 12px;
    padding: 7px;

    >h1 {
        font-size: 16px;
        margin-bottom: 1em;
    }

    >a {
        display: block;
        cursor: pointer;
        color: #ffffff;
        padding: 0.1em 0;

        &:hover {
            text-decoration: none;
            color: darken(#ffffff, 15%);
        }
    }

    &:last-child {
        border-bottom: none;
    }

    .input-text-group {
        margin: 10px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        & input[type="text"] {
            border: 0;
            border-bottom: 1px solid $magazine_element-color;

            &:first-child {
                border-bottom-right-radius: inherit;
                border-bottom-left-radius: inherit;
            }

            &:last-child {
                border-top-right-radius: inherit;
                border-top-left-radius: inherit;
            }
        }

    }

    .custom-control.custom-checkbox {
        .custom-control-label {
            cursor: pointer;
            @include user-select(none);

            &:before,
            &:after {
                top: 0.1rem;
            }
        }

        .custom-control-input:checked~.custom-control-label::before {
            border-color: #0498e0;
            background-color: #0498e0;
        }
    }

    .form-control {
        height: 32px;
    }
}

.flex-0_1-left {
    flex-grow: 1 !important;

    @media (max-device-width: 382px) {
        width: 100%;
    }
}

.flex-100_2-left {
    flex-grow: 100 !important;
}