$collapsed-width: 95px;
.content-body {
    margin-left: $left-bar-width;
    
    background-color: $body-bg-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    &>header, &>main{
        padding-right: $right-bar-width;
    }
}

main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include transition(padding-right $leftbar_time_animation $leftbar_func_anumation);
    will-change: padding-right;
    -webkit-transform: translate3d(0,0,0);
    background-color: #3c434d;
    &>.os-padding>.os-vewport>.os-content{
        display: flex;
        flex-direction: column;
    }
    
    & .container-flex .row{
        margin-left: 0;
        margin-right: 0;
    }
}
#content-body{
    @include transition(margin-left $leftbar_time_animation $leftbar_func_anumation);
    &.collapsed-left{
        margin-left: $collapsed-width;
        
    }
    &.collapsed-right{
        &>main{
            padding-right: 0;
        }
    }
}

@import './slider';
@import './magazine';