@if global-variable-exists(right-bar-width) {}

@else {
    $right-bar-width: 58px !global;
}

.right-side-chat__wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    @include transition(width $leftbar_time_animation $leftbar_func_anumation);
    z-index: 2;
    overflow: hidden;
    width: $right-bar-width;
    &.collapsed-right{
        right: 0;
        width: 360px;
    }
}
.rs_chat-ui__wrapper{
    height: 100%;
    min-width: 302px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
}
.rs_chat-ui__content{
    flex-grow: 1;
    border-left: 1px solid rgba(50, 50, 50, 0.1);
}
.rs_users__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: $right-bar-width;
}
.right-side-chat__users {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.right-side-chat__userpic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.right-side-chat__user {
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    .unread-count {
        background-color: #039be5;
        color: #fff;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 18px;
        height: 18px;
        top: 4px;
        left: 6px;
        border-radius: 9px;
        padding: 0 5px;
        font-size: 11px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
    }

    .status-icon {
        position: absolute;
        width: 12px;
        height: 12px;
        bottom: 4px;
        left: 36px;
        border: 2px solid #f5f5f5;
        border-radius: 50%;
    }

}

.status-icon {
    &.online {
        background-color: #4caf50;
    }

    &.offline {
        background-color: #646464;
    }

    &.away {
        background-color: #ffc107;
    }

    &.do-not-disturb {
        background-color: #f44336;
    }
}

.rs_chat-ui__top, .rs_users__top{
    height: $top-bar-height;
    background-color: #333848;
    z-index: 2;
}

.rs_chat-ui__top{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    vertical-align: middle;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.right-element{
    width: $right-bar-width;
    height: $top-bar-height !important;
    background-color: lighten($topbar-background, 10%);
    border: 0;
    border-radius: 0;
    position: relative;
    top: 0;
    right: 0;
    flex-shrink: 0;
    z-index: 5;
}
.right-side-chat__wrap {
    width: 360px;
}
.rs_chat-patch{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}