@include for-phone-only{
    
    .right-side-chat__wrapper{
        z-index: 99;
        right: -58px;
        position: fixed;
        &.collapsed-right{
            width: 100%;
        }
        .rs_chat__story{
            padding-left: 0;
            padding-bottom: 0;
            padding-top: 0;
        }
        .rs_chat_with_user__content{
            padding-left: 40px;
        }
        .os-host-overflow > .os-padding{
            overflow-x: visible;
        }
        .rs_chat__wrapper{
            width: 100%;
            min-width: 0;
        }
    }
}
@media (max-width: 320px){
    .rs_chat__reply-textarea{
        font-size: 4vw;
    }
}