$top-bar-height: 53px;
$left-bar-width: 240px;
$left-bar-padding: 10px;
$topbar-background: #1e212a;
$sidebar-background: #2d323e;
$main-font-color: #ffffff;
$right-bar-width: 58px;
$body-bg-color:  #3c434d;

button{
  background-color: transparent;
}
#background{
  background-image: url("../img/magazine.jpg");
  
  background-size: cover;
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.03;
  z-index: 999;
  pointer-events:none;
}
.bg-dark-m{
  background-color: #1e212a;
}
body{
  background-color: $body-bg-color;
  overflow: hidden;
}

@import "./my_mixins";
@import "./fonts";
@import "./waves";
@import "./countdown";
@import "./header";
@import "./sidebar";
@import "./rightbar";
@import "./main";
@import "./flags";
@import "./footer";

.no-outline{
  &:focus {
    outline: none;
  }
  &.btn:focus{
    box-shadow: none;
  }
}
.dropdown-menu__right{
  left: unset;
  right: 0;
}
.dropdown-menu__undark{
  margin-top:0;
  border-radius: 0 0 0.25rem 0.25rem;
  &>li{
    &:hover {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }
    padding: 3px 20px;
  }
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-width: 5px 5px 5px 0;
  border-right-color: lighten(black, 10%);
}
.tooltip-inner {
  border-right-color: lighten(black, 10%);
  border-radius: .25rem;
}
.btn{
  line-height: 1;
}
.nav-link-badge {
  display: flex;
  align-items: center;
  min-width: 20px;
  height: 20px;
  padding: 0 7px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 20px;
  transition: opacity .2s ease-in-out .1s;
  margin-left: 8px;
  background-color: #039be5;
  color: rgb(255, 255, 255);
}


.material-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-shadow.hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.load * {
  @include transition(none !important);
  @include animation-duration(0s);
}